<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Gitsearch</h1>
            <form method="get" action="/">
                <div class="form-group">
                    <input class="form-control" value="{{query}}" placeholder="Search" name="query" />
                </div>
                <div class="form-group">
                    <input class="form-control" value="{{repository}}" placeholder="Respository" name="repository" />
                </div>
                <div class="form-group">
                    <input class="form-control" value="{{reference}}" placeholder="Branch/Tag" name="reference" />
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Search"/>
                </div>
            </form>
        </div>
    </div>

    {{#each results}}
        <div class="row">
            <div class="col-xs-12">
                    <div class="Result">
                        <div class="Result__Title">
                            {{#equal type 'GITHUB' }}
                                <h4><a href="https://github.com/{{this.repository}}/blob/{{reference}}/{{this.name}}">{{this.name}}</a></h4>
                                <h4><a href="https://github.com/{{this.repository}}">{{this.repository}}</a></h4>
                            {{/equal}}
                            {{#equal type 'BITBUCKET' }}
                                <h4><a href="https://bitbucket.org/{{this.repository}}/src/{{reference}}/{{this.name}}">{{this.name}}</a></h4>
                                <h4><a href="https://bitbucket.org/{{this.repository}}">{{this.repository}}</a></h4>
                            {{/equal}}
                            <p></p>
                        </div>
                        <div class="Result__Summary">
                            <div class="Lines">
                                {{#each this.summary}}
                                    <div class="Line__Number {{this.extra}}">
                                        {{#equal ../type 'GITHUB' }}
                                            <a href="https://github.com/{{../this.repository}}/blob/{{../reference}}/{{../this.name}}#L{{this.line_number}}">
                                                {{this.line_number}}
                                            </a>
                                        {{/equal}}
                                        {{#equal ../type 'BITBUCKET' }}
                                            <a href="https://bitbucket.org/{{../this.repository}}/src/{{../reference}}/{{../this.name}}#-{{this.line_number}}">
                                                {{this.line_number}}
                                            </a>
                                        {{/equal}}
                                    </div>
                                {{/each}}
                            </div>
                            <div class="Contents">
                                <div class="Contents__Inner">
                                    {{#each this.summary}}
                                        <div class="Contents__Line  {{this.extra}}"><code>{{{this.content}}}</code></div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {{/each}}
    <div class="row">
        <div class="col-xs-12">
            <nav>
              <p>Page {{page}} of {{pages}}</p>
              <ul class="pagination pagination-sm">
                  {{#if previousPage}}<li class="link"><a href="/?query={{query}}&repo={{repository}}&reference={{reference}}&page={{previousPage}}">«</a></li>{{/if}}
                  {{#if nextPage}}<li class="link"><a href="?query={{query}}&repo={{repository}}&reference={{reference}}&page={{nextPage}}">»</a></li>{{/if}}
              </ul>
            </nav>
        </div>
    </div>
</div>
